
  <% define_check = defined? site %>
  <% unless define_check.nil?%>
    <% site.comments.each do |comment|%>
      <% unless comment.id.nil? %>
        <div id = "comment_show">
          <h3><%= comment.content %></h3>
          <h5><%= time_ago_in_words(comment.created_at)+t('maps.time_before') %></h5><br>
              <%= link_to t('maps.helpful'),reviews_count_path(key: :good, comment_id: comment), method: :post,remote: true %>
              <div id = "reviews_show">
                <%=comment.review.good%>
              </div>
              <%= link_to t('maps.not_helpful'),reviews_count_path(key: :bad,comment_id: comment), method: :post, remote: true %>
              <div id = "reviews_show">
                <%=comment.review.bad%>
              </div>
            </div>
          </div>
        </div><hr/>
      <% end %>
    <% end %>
  <% end %>
