
  <% define_check = defined? site %>
  <% unless define_check.nil?%>
    <% site.comments.each do |comment|%>
      <% unless comment.id.nil? %>
        <div id = "comment_show">
          <h3><%= comment.content %></h3>
          <h5><%= time_ago_in_words(comment.created_at)+t('maps.time_before') %></h5>
          <div id = "reviews_show">
            <div class = "review">
              <%=link_to(content_tag(:i,"",class:"far fa-thumbs-up"),reviews_count_path(key: :good, comment_id: comment), method: :post,remote: true, class: "review")%>
            </div>
            <div class = "review">
              <%=comment.review.good%>
            </div>
            <div class = "review">
            </div>
            <div class = "review">
              <%=link_to(content_tag(:i,"",class:"far fa-thumbs-up fa-flip-vertical"),reviews_count_path(key: :bad, comment_id: comment), method: :post,remote: true, class: "review")%>
            </div>
            <div class = "review">
              <%=comment.review.bad%>
            </div>
            <div class = "review">
              <%=form_with(url:comments_delete_path,remote:true) do |f|%>
                <%=f.submit(t('maps.delete'),class:"admin_button",data:{confirm: "削除しますか"})%>
                <%=f.hidden_field :id,value:comment.id %>
                <%=f.hidden_field :map_id,value:comment.site.map.id %>
                <%=f.password_field :password ,placeholder: t('maps.password'),size: "13"%>
              <% end %>
            </div>
          </div>
        </div><hr/>
      <% end %>
    <% end %>
  <% end %>
