<div id="my_map"><pre id='info'></pre>
<i class="fa fa-spinner "><%= t('maps.update_now')%></i>
<div id='map' class = 'target' data-markers="<%= @all_sites.to_json %>"></div>
</div>
<div id="init_info">
  <div id="alert_box">
    <p><%= t('maps.register_center') %></p>
    <p><%= t('maps.first_doubleclick') %></p>
    <p><%= t('maps.second_click_icon') %></p>
    <button class="ok_btn">OK</button>
  </div>
</div>
<div id="click_info">
  <div id="notice_box">
    <p><%= t('maps.registerable') %></p>
    <p><%= t('maps.select_icon') %></p>
  </div>
</div>
