<div id = "sites_show">
  <h5><%= t('maps.map_name') %> : <%=@site&.map&.name%><br><%= t('maps.map_creater') %> : <%=@site&.map&.creater%></h5>
  <% define_check = defined? site %>
  <% unless define_check.nil? %>
    <% if site.title != nil %>
      <h3><%= t('maps.site_name') %> : <%= site.title %></h3>
    <% else %>
      <h5><%= t('maps.name_site') %></h5>
      <%= form_with(model:@site,url:map_site_path(@site),remote: true,method: :patch) do |form| %>
        <%= form.label :title, t('maps.name') %>
        <%= form.text_field :title %>
        <%= form.submit t('maps.register') %>
      <% end %>
    <% end %>
    <div class = "site_delete_field">
      <% if @site&.id != nil %>
        <%=form_with(url:sites_delete_path,local:true) do |f|%>
          <%=f.submit("削除",class:"admin_button",data:{confirm: "削除しますか"})%>
          <%=f.hidden_field :id,value:@site.id %>
          <%=f.hidden_field :map_id,value:@site.map_id %>
          <%=f.password_field :password ,placeholder: "パスワード",size: "13"%>
        <% end %>
      <% end %>
    </div>
    <div id = "sites_validation">
    </div>
  <% end %>
</div>
