<div id = "sites_show">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
<% define_check = defined? site %>
<% unless define_check.nil? || site.id == nil %>
  <% if site.description != nil %>
    <h3>マップ名: <%=map.name%></h3>
    <h5> マップ作成者: <%=map.name%></h3><br>
    <h3>地点名: <%=site.description%></h3>
  <% else %>
  
  <h5>地点名を登録できます</h5>
    <%= :notice %>
    <%= form_with(model:@site,url:map_site_path(@site),remote: true,method: :patch) do |form| %>
    <%= form.label "名称" %>
    <%= form.text_field :description %>
    <%= form.submit %>
    <% end %>
  <% end %>
<% end %>
</div>
